<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>中台工具</h1>
        
        <div>
            <div>连接信息</div>
            {% if false %}
            <div><a href="">取消连接</a></div>
            <div>
                <div>token:{{ token }}</div>
                <div>tenantid:{{ tenantid }}</div>
            </div>
            {% else %}
            <div><a href="">建立连接</a></div>
            {% endif %}
            
         
        </div>
   
    </header>

    <main>
        {% if isinner %}
            <section>
                <nav>
                    <ul>
                        <li><a href="/outLineWork">批量创建离线作业</a></li>
                    </ul>
                </nav>
            </section>
        {% else %}
            {% block content %}{% endblock %}
        {% endif %}
        
   

    </main>

    <footer>

    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>